.page-section {
  padding: 1.2rem 0;/*mobile first*/

  @mixin atMedium {
    padding: 4.5rem 0;/*padding top & bottom for sections/blocks in the website.*/
  }

  &--no-b-padding-until-medium {
    padding-bottom:  0;/*mobile first ---testimonials*/

    @mixin atMedium {
      padding-bottom: 4.5rem;/*testimonials*/
    }
  }

  &--no-b-padding-until-large {
    padding-bottom:  0;/*mobile first ---testimonials*/

    @mixin atLarge {
      padding-bottom: 4.5rem;/*testimonials*/
    }
  }

  &--blue{
    background-color: $mainBlue;
    color: #fff;
  }

  &--testimonials{
    background-color: #e0e6ef;/*mobile first*/

    @mixin atLarge {
      &.lazyloaded {
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        background-size: cover;/*cover the entire div*/
      }
    }
  }

}
